<app-header></app-header>
<div class="main-div contact-div">
  <div class="container">
    <div class="row">
      <div class="breadcrub">
        <span><a routerLink="/home">Home </a> > Get in Touch</span>
      </div>
      <div class="headingz main_title">
        <h3>Get in <span>Touch</span></h3>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="address-div">
         <ul>
          <li><span class="address"><i class="fa fa-map-marker"></i><a>E-733 Shah Town, Karachi, Pakistan</a></span></li>
          <li><span class="address"><i class="fa fa-phone"></i><a href="tel:+92-341330068">+92-341330068</a></span></li>
          <li><span class="address"><i class="fa fa-envelope"></i><a href="mailto:aamir6565ali@gmail.com">aamir6565ali@gmail.com</a></span></li>
          <li><span class="address"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/aamirali65/">https://www.linkedin.com/in/aamirali65/</a></span></li>
         </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="contact">
          <form action="">
          <ul>
            <div class="lix">
              <li><input type="text" name="" placeholder="Name"></li>
              <li class="email"><input type="text" name="" placeholder="Email"></li>
            </div>
            <li><textarea placeholder="Message" cols="58" rows="5"></textarea></li>
          </ul>
          <button type="submit" class="theme_btn"><a>Send Message</a></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
