.cursor-outer {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #eb4a4c;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s, background-color 0.1s, opacity 0.1s;
  mix-blend-mode: difference;
  z-index: 999;
  transition: .15s;
}

.cursor-inner {
  /* transition: 0.30s ease-in-out; */
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #eb4a4c;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .10s;
  z-index: 1000;
}

:host(.content:hover) .cursor-outer {
  transform: translate(-50%, -50%) scale(1.5);
  background-color: #c6c6c6;
  opacity: 0.5;
}

:host(.content:hover) .cursor-inner {
  opacity: 0;
}
.cursor-inner.extra-class {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: #eb4a4c;
  opacity: 0.3;
  transition: .15s;
}
.cursor-outer.extra-class {
  opacity: 0;
}
